# Environment Variables Example
PORT=3000
NODE_ENV=development
JWT_SECRET=ifood_express_super_secret_jwt_key_2026
IFOOD_CLIENT_ID=ifood_developer_client_id_sample
IFOOD_CLIENT_SECRET=ifood_developer_client_secret_sample
DATA_STORE_PATH=./data/store.json
